<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！-->
    <title>易联众线下终端交易管理平台</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div class="whole bgFFF">
    <div class="header">
        <div class="titBox">
            <h2 class="title">线下终端交易管理平台</h2>
        </div>
        <div class="userBox">
            <a href="#" class="exitBtn">退出<i class="iconFont">&#xe66e;</i></a>
            <span class="name"><i class="iconFont">&#xe604;</i>admin</span>
        </div>
    </div>

    <div class="leftNav">
        <ul class="list">
            <li class="active"><a href="index.html" class="lineBtn"><i class="iconFont left">&#xe635;</i>主页</a></li>
            <li><a href="agent.html" class="lineBtn"><i class="iconFont left">&#xe610;</i>代理商管理</a></li>
            <li><a href="merchant.html" class="lineBtn"><i class="iconFont left">&#xe609;</i>商户管理</a></li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe607;</i>终端管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="terminal.html">终端型号管理</a>
                    <a href="terminal-list.html">终端列表</a>
                    <a href="terminal-into.html">终端入库</a>
                    <a href="terminal-out.html">终端出库</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe66f;</i>交易管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="channel.html">渠道配置</a>
                    <a href="transaction.html">交易查询</a>
                    <a href="transaction-into.html">交易导入</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe614;</i>分润管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="profit-ylz.html">易联众分润</a>
                    <a href="profit-agent.html">代理商分润</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe669;</i>报表管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="report-terminal.html">终端交易报表</a>
                    <a href="report-no.html">无交易终端报表</a>
                </div>
            </li>
            <li>
                <a href="user.html" class="lineBtn"><i class="iconFont left">&#xe722;</i>用户管理</a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="location">
            <span class="text"><i class="iconFont">&#xe635;</i><a href="index.html">首页</a></span>
        </div>
        <div class="indShow">
            <ul>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 blue else">&#xe629;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888.00</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">总分润金额</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 yellow else">&#xe921;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">总商户数量</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 green">&#xe63f;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">总交易笔数</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 red else">&#xe665;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888.00</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">总交易金额</span>
                    </div>
                </li>

                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 blue else">&#xe629;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888.00</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">单日分润金额</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 yellow else">&#xe921;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">当日新增商户数量</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 green">&#xe63f;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">当日交易笔数</span>
                    </div>
                </li>
                <li class="col-xs-6 col-md-6 col-lg-3">
                    <div class="contentBox">
                        <span class="iconFont col-xs-3 col-sm-3 col-lg-4 red else">&#xe665;</span>
                        <span class="num col-xs-9 col-sm-9 col-lg-8">8888.00</span>
                        <span class="name col-xs-9 col-sm-9 col-lg-8">当日交易金额</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="chartBox">
            <div class="line">
                <div id="allMerchant" style="min-width: 200px; height: 300px;"></div>
            </div>
            <div class="line">
                <div id="newMerchant" style="min-width: 200px; height: 300px;"></div>
            </div>

            <div class="line">
                <div id="allTransaction" style="min-width: 200px; height: 300px;"></div>
            </div>
            <div class="line">
                <div id="newTransaction" style="min-width: 200px; height: 300px;"></div>
            </div>

            <div class="line">
                <div id="allPrice" style="min-width: 200px; height: 300px;"></div>
            </div>
            <div class="line">
                <div id="newPrice" style="min-width: 200px; height: 300px;"></div>
            </div>
        </div>

        <div class="content">

        </div>
    </div>
</div>


<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/leftNav.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/chart.js"></script>
</body>
</html>