<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！-->
    <title>易联众线下终端交易管理平台</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div class="whole">
    <div class="header">
        <div class="titBox">
            <h2 class="title">线下终端交易管理平台</h2>
        </div>
        <div class="userBox">
            <a href="#" class="exitBtn">退出<i class="iconFont">&#xe66e;</i></a>
            <span class="name"><i class="iconFont">&#xe604;</i>admin</span>
        </div>
    </div>

    <div class="leftNav">
        <ul class="list">
            <li><a href="index.html" class="lineBtn"><i class="iconFont left">&#xe635;</i>主页</a></li>
            <li><a href="agent.html" class="lineBtn"><i class="iconFont left">&#xe610;</i>代理商管理</a></li>
            <li><a href="merchant.html" class="lineBtn"><i class="iconFont left">&#xe609;</i>商户管理</a></li>
            <li class="active">
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe607;</i>终端管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="terminal.html">终端型号管理</a>
                    <a href="terminal-list.html">终端列表</a>
                    <a href="terminal-into.html">终端入库</a>
                    <a class="active" href="terminal-out.html">终端出库</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe66f;</i>交易管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="channel.html">渠道配置</a>
                    <a href="transaction.html">交易查询</a>
                    <a href="transaction-into.html">交易导入</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe614;</i>分润管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="profit-ylz.html">易联众分润</a>
                    <a href="profit-agent.html">代理商分润</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe669;</i>报表管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="report-terminal.html">终端交易报表</a>
                    <a href="report-no.html">无交易终端报表</a>
                </div>
            </li>
            <li>
                <a href="user.html" class="lineBtn"><i class="iconFont left">&#xe722;</i>用户管理</a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="location">
            <span class="text"><i class="iconFont">&#xe635;</i><a href="index.html">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;终端列表 - 出库</span>
        </div>
        <div class="content">
            <div class="textBox">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <span class="text else">当日出库终端数量：<span>8888</span></span>
                    </div>
                </div>
            </div>

            <div class="topBox">
                <form class="form-horizontal col-sm-10 col-md-10 col-lg-8 search">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端厂商名称</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端设备型号</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端S/N码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">出库时间</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control datetimepicker">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control datetimepicker">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">查询</button>
                            <a href="#addPopup" class="btn btn-default" data-toggle="modal">出库</a>
                            <a href="javascript:;" class="btn btn-default">导出</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="proList">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>终端厂商名称</th>
                            <th>终端设备型号</th>
                            <th>终端设备S/N码</th>
                            <th>商户号</th>
                            <th>终端号</th>
                            <th>渠道名称</th>
                            <th>出库类型</th>
                            <th>库存地点</th>
                            <th>出库时间</th>
                            <th>出库人员</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>80123456789</td>
                            <td>123456789</td>
                            <td>浦发</td>
                            <td>免投</td>
                            <td>银河国际A座801</td>
                            <td>2017-04-05  20：00：00</td>
                            <td>某某某</td>
                            <td><a href="javascript:;">编辑</a></td>
                        </tr>
                    </table>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>



<!--新增出库 begin-->
<div class="modal fade" tabindex="-1" role="dialog" id="addPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">终端列表 - 出库</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body pb0">

                    <div class="alert alert-danger" role="alert">
                        <span class="alert-link">1、如S/N码查询结果为已入库，可以进行出库操作</span>
                        <br />
                        <span class="alert-link">2、如S/N码查询结果为已出库，不能进行出库操作</span>
                        <br />
                        <span class="alert-link">3、如S/N码查询结果为不存在，不能进行出库操作</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">终端S/N码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">终端状态</label>
                        <div class="col-sm-9">
                            <span class="form-control">已入库</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">查询</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">出库</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--新增出库 end-->

<!--编辑入库 begin-->
<div class="modal fade" tabindex="-1" role="dialog" id="editPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">终端列表 - 出库编辑</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body pb0">

                    <div class="alert alert-danger" role="alert">
                        <span class="alert-link">1、如S/N码查询结果为已入库，可以进行出库操作</span>
                        <br />
                        <span class="alert-link">2、如S/N码查询结果为已出库，不能进行出库操作</span>
                        <br />
                        <span class="alert-link">3、如S/N码查询结果为不存在，不能进行出库操作</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">终端S/N码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">终端状态</label>
                        <div class="col-sm-9">
                            <span class="form-control">已入库</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">查询</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--编辑入库 end-->


<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.datetimepicker.js"></script>
<script src="js/time.js"></script>
<script src="js/leftNav.js"></script>
<script>
    $(function(){
        $(".proList .table td a").on("click",function(){
            $('#editPopup').modal()
        })
    })
</script>
</body>
</html>