<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！-->
    <title>易联众线下终端交易管理平台</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div class="whole">
    <div class="header">
        <div class="titBox">
            <h2 class="title">线下终端交易管理平台</h2>
        </div>
        <div class="userBox">
            <a href="#" class="exitBtn">退出<i class="iconFont">&#xe66e;</i></a>
            <span class="name"><i class="iconFont">&#xe604;</i>admin</span>
        </div>
    </div>

    <div class="leftNav">
        <ul class="list">
            <li><a href="index.html" class="lineBtn"><i class="iconFont left">&#xe635;</i>主页</a></li>
            <li><a href="agent.html" class="lineBtn"><i class="iconFont left">&#xe610;</i>代理商管理</a></li>
            <li><a href="merchant.html" class="lineBtn"><i class="iconFont left">&#xe609;</i>商户管理</a></li>
            <li class="active">
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe607;</i>终端管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="terminal.html">终端型号管理</a>
                    <a class="active" href="terminal-list.html">终端列表</a>
                    <a href="terminal-into.html">终端入库</a>
                    <a href="terminal-out.html">终端出库</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe66f;</i>交易管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="channel.html">渠道配置</a>
                    <a href="transaction.html">交易查询</a>
                    <a href="transaction-into.html">交易导入</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe614;</i>分润管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="profit-ylz.html">易联众分润</a>
                    <a href="profit-agent.html">代理商分润</a>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="lineBtn show"><i class="iconFont left">&#xe669;</i>报表管理<i
                        class="iconFont right">&#xe60d;</i></a>
                <div class="hiddenBox">
                    <a href="report-terminal.html">终端交易报表</a>
                    <a href="report-no.html">无交易终端报表</a>
                </div>
            </li>
            <li>
                <a href="user.html" class="lineBtn"><i class="iconFont left">&#xe722;</i>用户管理</a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="location">
            <span class="text"><i class="iconFont">&#xe635;</i><a href="index.html">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;终端列表</span>
        </div>
        <div class="content">
            <div class="textBox">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="text">终端设备总数量：<span>8888</span></span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="text">库存终端总数量：<span>8888</span></span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="text">出库终端总数量：<span>8888</span></span>
                    </div>
                </div>
            </div>

            <div class="topBox">
                <form class="form-horizontal col-sm-10 col-md-10 col-lg-8 search">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端厂商名称</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端设备型号</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端S/N码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">终端状态</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>全部</option>
                                <option>已入库</option>
                                <option>已出库</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">查询</button>
                            <a href="javascript:;" class="btn btn-default">导出</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="proList">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>终端厂商名称</th>
                            <th>终端设备型号</th>
                            <th>终端设备S/N码</th>
                            <th>终端状态</th>
                            <th>库存地点</th>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已出库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                        <tr>
                            <td>联迪</td>
                            <td>SN00001</td>
                            <td>88888888</td>
                            <td>已入库</td>
                            <td>银河国际A座801</td>
                        </tr>
                    </table>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/leftNav.js"></script>
</body>
</html>